{% extends "layout.html" %}

{% block content %}
<div class="center-content">  
<style>
  .center-content {
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    min-height: 100vh;       /* Ensure it takes up full viewport height*/
  
  }
  
  .center-content form,
  .center-content h2,
  .center-content p {
  
    text-align: center; /* or left, right as needed */
  }
  
  </style>
  <h1>Team Comparison</h1>
  <form method="POST">
    <select name="team1">
      {% for team in teams %}
        <option value="{{ team.id }}">{{ team.name }}</option>
      {% endfor %}
    </select>
    <select name="team2">
      {% for team in teams %}
        <option value="{{ team.id }}">{{ team.name }}</option>
      {% endfor %}
    </select>
    <button type="submit">Compare</button>
  </form>

  {% if result %}
        <h2>{{ result }}</h2>
        <div>
            <h3>{{ team1.name }}</h3>
            <img src="{{ team1_logo }}" alt="{{ team1.name }} logo" width="100">
        </div>
        <div>
            <h3>{{ team2.name }}</h3>
            <img src="{{ team2_logo }}" alt="{{ team2.name }} logo" width="100">
        </div>
    {% endif %}
</div>

{% endblock %}
